.App {
  text-align: center;
}

.About-title {
  padding-top: 20px;
  postion: sticky;
}

.About-content {
  font-size: large;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
  position: sticky;
}

.App-cat {
  height: 80px;
  position: absolute; right: 430px; top: 150px;
}

.dropdown-container {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  position: absolute; left: 150px; top: 300px;
  cursor: pointer;
}

.dropdown-panel {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  position: absolute; left: 150px; top: 324px;
}

.dropup-container {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  position: absolute; left: 300px; top: 300px;
  cursor: pointer;
}

.dropup-panel {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  position: absolute; left: 300px; top: 196px;
}

.App-header {
  background-color: #222;
  height: 120px;
  width: 2000px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  height: 120px;
  width: 2000px;
  padding: 20px;
  color: white;
  position: absolute; bottom: 0px;
}

.Home-header {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; left: 0px; top: 136px;
  cursor: pointer;
}

.About-header {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; left: 110px; top: 136px;
  cursor: pointer;
}

.Drops-header {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; left: 220px; top: 136px;
  cursor: pointer;
}

.Posts-header {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; left: 330px; top: 136px;
  cursor: pointer;
}

.footer-message {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
