.App {
  text-align: center;
}

.About {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; right: 0px; top: 136px;
  cursor: pointer;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 80px;
  position:sticky;
}

.App-cat {
  height: 80px;
  position: absolute; right: 430px; top: 150px;
}

.App-header {
  background-color: #222;
  height: 120px;
  width: 2000px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  height: 120px;
  width: 2000px;
  padding: 20px;
  color: white;
  position: absolute; bottom: 0px;
}

.drops {
  width: 100px;
  height: 20px;
  border: 2px solid black;
  color: #FFFFFF;
  position: absolute; left: 0px; top: 136px;
  cursor: pointer;
}

.footer-message {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
